*, *::before, *::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    
    /* border: 2px solid red; */
}